html{
    margin: 0;
}
h1{
    margin-top: 30px;
    /* margin-left: 22%; */
    text-align: center;
}
.canvas{
    margin: 100px auto 100px;
    text-align: center;
    width: 60%;
}
.button{
    height: 100px;
    width: 100px;
    border: solid black 2px;
    display: inline-block;
}
#grey{
    background-color: grey;
}
#white{
    background-color: white;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}
#red{
    background-color: red;
}
#green{
    background-color: green;
}
#purple{
    background-color: purple;
}
